  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-12">
        <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
          <div class="d-flex justify-content-between">
            <h1>Agregar Producto</h1>
            <div class="d-flex">
              <button type="submit" mat-flat-button color="primary">Guardar</button>
              <a mat-stroked-button routerLink="/products" color="accent" class="mx-2">Cancelar</a>
            </div>
          </div>
            <div class="row">
              <div class="col-xl-4">
                <app-form-group>
                  <app-input label="Nombre" [required]="true" [control]="title"></app-input>
                </app-form-group>
              </div>
              <div class="col-xl-4">
                <app-form-group>
                  <app-input label="Precio" [required]="true" type="number" [control]="price" icon="attach_money"></app-input>
                </app-form-group>
              </div>
              <div class="col-xl-4">
                <app-form-group>
                  <app-input label="Image URL" type="url" [control]="image"></app-input>
                </app-form-group>
              </div>
              <div class="col-xl-6">
                <app-form-group>
                  <app-input label="Descripcion" type="textarea" [control]="description"></app-input>
                </app-form-group>
              </div>
            </div>
        </form>
      </div>
    </div>
  </div>
